extend layout
block content
    form(action="/upload"  method="POST")
        input(type="text" name="name" placeholder="Cat name")
        br
        input(type="text" name="size" placeholder="Cat size")
        br
        button(type="submit") Save
